<!DOCTYPE html>

    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <title>Cluster</title>
        </head>
<body>
    <div>
        <h1>Witaj w Cluster!</h1>
        <h2>Cluster</h2>
        <h3>Autor: 727Lab</h3>
        <h4>Wszelkie prawa zastrzezone</h4>
    </div>
    
       {% for post in posts %}
    <div>
        <h2><a href="">{{ post.title}}</a></h2>
        <em> {{ post.text|linebreaksbr }}</em>
        <p>opublikowano: {{ post.publish_date }}</p>
    </div>
        {% endfor %}
        
    <div>
    
    </div>
</body>

</html>   