<!DOCTYPE html>

    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <title>Cluster</title>
        </head>
<body>
    <div>
        <h1>Witaj w Cluster!</h1>
        <h2>Cluster</h2>
        <h3>Autor: 727Lab</h3>
        <h4>Wszelkie prawa zastrzezone</h4>
    </div>
    <div>
        <p>To jest akapit</p>
        <em>To jest wyróznony tekst</em>
        <strong>To jest pogrubiony tekst</strong>
        <a href="Https://pornhub.com">LINK</a>
    </div>

</body>

</html>   